Language: Cpp
Standard: c++20
BasedOnStyle: Google

ColumnLimit: 80
IndentWidth: 2
AccessModifierOffset: -1

AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
AllowShortBlockszOnASingleLine: Never
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: false
BreakBeforeBraces: Attach
SortIncludes: false